<!-- Start Welcome area -->
<div class="all-content-wrapper" style="margin-top: 60px; margin-left: 20px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href="index.html"
            ><img class="main-logo" src="img/logo/logo.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <app-navbar-admin></app-navbar-admin>
  <!--- here testing code -->
  <div class="breadcome-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="breadcome-list single-page-breadcome">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="breadcome-heading">
                  <form role="search" class="sr-input-func">
                    <input
                      type="text"
                      placeholder="Search..."
                      class="search-int form-control"
                    />
                    <a href="#"><i class="fa fa-search"></i></a>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcome-menu">
                  <li>
                    <span class="bread-blod">Acceuil / Document Site</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="product-payment-inner-st">
            <div id="myTabContent" class="tab-content custom-product-edit">
              <div
                class="product-tab-list tab-pane fade active in"
                id="description"
              >
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-content-section">
                      <div id="dropzone1" class="pro-ad">
                        <h4 style="font-size: 20px; margin-bottom: 20px">
                          Document Site
                        </h4>
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label for="region">Région</label>
                              <select
                                id="region"
                                class="form-control"
                                [(ngModel)]="site.region"
                                (change)="updateDelegations()"
                                (change)="onRegionChange(site.region)"
                              >
                                <option
                                  *ngFor="let region of regions"
                                  [value]="region.idReg"
                                >
                                  {{ region.libelleReg }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label for="delegation">Délégation</label>
                              <select
                                id="delegation"
                                class="form-control"
                                [(ngModel)]="site.delegotion"
                                (change)="updateSites()"
                              >
                                <option
                                  *ngFor="let delegation of filteredDelegations"
                                  [value]="delegation.idDel"
                                >
                                  {{ delegation.libelleDel }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label for="sites">Sites</label>
                              <select
                                id="sites"
                                class="form-control"
                                [(ngModel)]="site.nomsite"
                                (ngModelChange)="storecodesite($event)"
                              >
                                <option
                                  *ngFor="let site of sites"
                                  [value]="site.codesite"
                                >
                                  {{ site.nomsite }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="apd">APD</label>
                          <input
                            type="file"
                            id="apd"
                            class="form-control"
                            (change)="handleAPDFileInput($event)"
                          />
                        </div>

                        <div class="form-group">
                          <label for="expertise">Expertise</label>
                          <input
                            type="file"
                            id="expertise"
                            class="form-control"
                            (change)="handleExpertiseFileInput($event)"
                          />
                        </div>

                        <div class="form-group">
                          <label for="fvr">FVR</label>
                          <input
                            type="file"
                            id="fvr"
                            class="form-control"
                            (change)="handleFVRFileInput($event)"
                          />
                        </div>

                        <!-- Add other form fields specific to documentation site -->

                        <!-- File inputs for APD, Expertise, and FVR -->

                        <!-- Submit button -->
                        <div class="ButtonStyle">
                          <button
                            class="btn btn-success myBtn"
                            (click)="ajouterArchive()"
                            style="background-color: #34baa1"
                          >
                            Enregistrer
                          </button>
                          <button
                            class="btn btn-danger myBtn"
                            (click)="annuler()"
                          >
                            Annuler
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Other tab panes -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
