<!-- Start Welcome area -->
<div class="all-content-wrapper" style="margin-top: 60px; margin-left: 20px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href="index.html"
            ><img class="main-logo" src="img/logo/logo.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <app-navbar-admin></app-navbar-admin>

  <!-- Breadcrumb and Search Form -->
  <div class="breadcome-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="breadcome-list single-page-breadcome">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="breadcome-heading">
                  <form role="search" class="sr-input-func">
                    <input
                      type="text"
                      placeholder="Search..."
                      class="search-int form-control"
                    />
                    <a href="#"><i class="fa fa-search"></i></a>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcome-menu">
                  <li>
                    <span class="bread-blod">Acceuil / Tableau De Bord</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="breadcome-area">
    <!-- Header breadcrumb area -->
  </div>

  <div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="product-payment-inner-st">
            <div id="myTabContent" class="tab-content custom-product-edit">
              <div
                class="product-tab-list tab-pane fade active in"
                id="description"
              >
                <h4 style="font-size: 20px; margin-bottom: 20px">
                  Rapport Site
                </h4>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-content-section">
                      <div id="dropzone1" class="pro-ad">
                        <!-- Original Form -->
                        <div>
                          <div class="form-group col-lg-3">
                            <label for="region">Région</label>
                            <select
                              id="region"
                              class="form-control"
                              [(ngModel)]="site.region"
                              (change)="updateDelegations()"
                              (change)="onRegionChange(site.region)"
                            >
                              <option
                                *ngFor="let region of regions"
                                [value]="region.idReg"
                              >
                                {{ region.libelleReg }}
                              </option>
                            </select>
                          </div>
                          <div class="form-group col-lg-3">
                            <label for="delegation">Délégation</label>
                            <select
                              id="delegation"
                              class="form-control"
                              [(ngModel)]="site.delegotion"
                              (change)="onDelegationChange(site.delegotion)"
                            >
                              >
                              <option
                                *ngFor="let delegation of filteredDelegations"
                                [value]="delegation.idDel"
                              >
                                {{ delegation.libelleDel }}
                              </option>
                            </select>
                          </div>
                          <div class="form-group col-lg-3">
                            <label for="fournisseur">Fournisseur</label>
                            <select
                              id="fournisseur"
                              class="form-control"
                              [(ngModel)]="site.fournisseur"
                              (ngModelChange)="updateSites()"
                            >
                              <option
                                *ngFor="let fournisseur of fournisseurs"
                                [value]="fournisseur.idFourn"
                              >
                                {{ fournisseur.nomFournisseur }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div>
                          <div class="form-group col-lg-3">
                            <label for="sites">Sites</label>
                            <select
                              id="sites"
                              class="form-control"
                              [(ngModel)]="site.nomsite"
                              (ngModelChange)="storecodesite($event)"
                            >
                              <option
                                *ngFor="let site of filteredSites"
                                [value]="site.codesite"
                              >
                                {{ site.nomsite }}
                              </option>
                            </select>
                          </div>
                        </div>

                        <!-- Export Dropdown Menu -->
                        <div class="form-group col-lg-12">
                          <div class="btn-group">
                            <button
                              type="button"
                              class="btn btn-primary dropdown-toggle"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              Exporter
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" (click)="exportToPDF()"
                                >Exporter en PDF</a
                              >
                              <a class="dropdown-item" (click)="exportToCSV()"
                                >Exporter en CSV</a
                              >
                              <a class="dropdown-item" (click)="exportToExcel()"
                                >Exporter en Excel</a
                              >
                            </div>
                          </div>
                        </div>

                        <!-- Table to display site data -->
                        <div
                          id="report-content"
                          class="container-fluid"
                          *ngIf="siteData || docFinanciereData || archiveData"
                        >
                          <!-- Informations Site Section -->
                          <div *ngIf="siteData && show === 'A'">
                            <h4 style="font-size: 20px; margin-bottom: 20px">
                              Informations Site
                            </h4>
                            <div class="table-container">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Id Site</th>
                                    <th>Nom Site</th>
                                    <th>Region</th>
                                    <th>Delegation</th>
                                    <th>Secteur</th>
                                    <th>X</th>
                                    <th>Y</th>
                                    <th>Fournisseur</th>
                                    <th>Antenne</th>
                                    <th>Alimentation</th>
                                    <th>Acces</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let site of siteData">
                                    <td>{{ site.idSite }}</td>
                                    <td>{{ site.nomsite }}</td>
                                    <td>{{ site.region }}</td>
                                    <td>{{ site.delegotion }}</td>
                                    <td>{{ site.secteur }}</td>
                                    <td>{{ site.x }}</td>
                                    <td>{{ site.y }}</td>
                                    <td>{{ site.fournisseur }}</td>
                                    <td>{{ site.antenne }}</td>
                                    <td>{{ site.alimentation }}</td>
                                    <td>{{ site.acces }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>

                          <!-- Nouvelle section pour afficher les données de docfinanciere -->
                          <div *ngIf="docFinanciereData && show === 'A'">
                            <h4 style="font-size: 20px; margin-bottom: 20px">
                              Document Financiere
                            </h4>
                            <div class="table-container">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Id Proprietaire</th>
                                    <th>Montant</th>
                                    <th>Date Contract</th>
                                    <th>Date MAJ</th>
                                    <th>Contract</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{ docFinanciereData?.propritere }}</td>
                                    <td>{{ docFinanciereData?.montant }}</td>
                                    <td>
                                      {{ docFinanciereData?.created_at }}
                                    </td>
                                    <td>{{ docFinanciereData?.updated_at }}</td>
                                    <td>
                                      <a
                                        [href]="contractUrl"
                                        target="_blank"
                                        class="btn-link"
                                      >
                                        Download Contract
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>

                          <!-- Section pour afficher les données d'archive -->
                          <div *ngIf="archiveData">
                            <h4 style="font-size: 20px; margin-bottom: 20px">
                              Archive De Site
                            </h4>
                            <div class="table-container">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Id Archive</th>
                                    <th>Fiche Exp</th>
                                    <th>Date Contract</th>
                                    <th>Date MAJ</th>
                                    <th>APD</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{ archiveData?.idArchive2 }}</td>
                                    <td>
                                      <a
                                        [href]="archiveData?.ficheExp"
                                        target="_blank"
                                        class="btn-link"
                                      >
                                        Download Fiche Exp
                                      </a>
                                    </td>
                                    <td>{{ archiveData?.created_at }}</td>
                                    <td>{{ archiveData?.updated_at }}</td>
                                    <td>
                                      <a
                                        [href]="archiveData?.APD"
                                        target="_blank"
                                        class="btn-link"
                                      >
                                        Download APD
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Other tab panes -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
