<!-- Start Welcome area -->
<div class="all-content-wrapper" style="margin-top: 60px; margin-left: 30px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href="index.html">
            <img class="main-logo" src="img/logo/logo.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-navbar-admin></app-navbar-admin>
  <!--- here testing code -->
  <div
    class="breadcome-area"
    style="height: 70px; margin-left: -0.8%; margin-right: 0.9%"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="breadcome-list single-page-breadcome">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcome-menu">
                  <li>
                    <span class="bread-blod">Acceuil / Liste Régions </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Khormm-->
  <div class="product-status mg-b-15">
    <div class="container-fluid">
      <div class="row">
        <div
          style="margin-left: -0.8%"
          class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
        >
          <div class="product-status-wrap drp-lst">
            <h4 style="margin-bottom: 50px">Liste des Régions</h4>
            <div class="add-product">
              <a
                class="Primary mg-b-10"
                href="#"
                style="background-color: #34baa1"
                data-toggle="modal"
                data-target="#PrimaryModalalert"
                >Ajouter Région</a
              >
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <img
                    class="myImg"
                    style="margin-left: 100px"
                    src="assets/images/toto.png"
                  />
                </div>
                <div class="col-lg-8">
                  <!-- <div
                    *ngFor="let region of regions"
                    class="col-lg-3 card-container"
                  >
                    <div
                      class="card hpanel widget-int-shape responsive-mg-b-30"
                    >
                      <div class="card-body panel-body">
                        <div class="card-title stats-title pull-left">
                          <h4>{{ region.libelleReg }}</h4>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <div
                    *ngFor="let region of regions"
                    class="col-lg-3 card-container"
                  >
                    <div
                      class="card hpanel widget-int-shape responsive-mg-b-30"
                    >
                      <div class="card-body panel-body">
                        <div class="card-title stats-title pull-left">
                          <h4>{{ region.libelleReg }}</h4>
                        </div>
                        <div class="card-icons">
                          <button
                            data-toggle="tooltip"
                            title="Edit"
                            class="pd-setting-ed"
                            data-toggle="modal"
                            data-target="#EditModalalert"
                            class="icon-button"
                            (click)="editRegion(region)"
                            title="Edit"
                          >
                            <fa-icon
                              [icon]="faEdit"
                              class="text-success"
                            ></fa-icon>
                          </button>
                          <button
                            class="icon-button"
                            (click)="deleteRegionById(region.idReg)"
                            title="Trash"
                          >
                            <fa-icon
                              [icon]="faTrash"
                              class="text-danger"
                            ></fa-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Region Form -->
<div
  id="PrimaryModalalert"
  class="modal modal-edu-general default-popup-PrimaryModal fade"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-close-area modal-close-df">
        <a class="close" data-dismiss="modal" href="#">
          <i class="fa fa-close"></i>
        </a>
      </div>
      <div class="modal-body">
        <h3>Ajouter Région</h3>
        <div class="product-tab-list tab-pane fade active in" id="description">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="review-content-section">
                <div id="dropzone1" class="pro-ad">
                  <form
                    class="dropzone dropzone-custom needsclick add-professors"
                    id="demo1-upload"
                    (submit)="addRegion()"
                  >
                    <div class="row">
                      <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                          <input
                            name="nom_region"
                            [(ngModel)]="newRegion.libelleReg"
                            type="text"
                            class="form-control"
                            placeholder="Nom Région"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <button
                      type="submit"
                      class="btn btn-success waves-effect waves-light"
                    >
                      Ajouter
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" href="#">Fermer</a>
      </div>
    </div>
  </div>
</div>

<!-- Edit Region Form -->
<div
  id="EditModalalert"
  class="modal modal-edu-general default-popup-PrimaryModal fade"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-close-area modal-close-df">
        <a class="close" data-dismiss="modal" href="#"
          ><i class="fa fa-close"></i
        ></a>
      </div>
      <div class="modal-body">
        <h3>Modifier Région</h3>
        <div class="product-tab-list tab-pane fade active in" id="description">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="review-content-section">
                <div id="dropzone1" class="pro-ad">
                  <form
                    class="dropzone dropzone-custom needsclick add-professors"
                    id="edit-region-form"
                  >
                    <div class="row">
                      <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                          <input
                            name="nom_region"
                            [(ngModel)]="editRegionData.libelleReg"
                            type="text"
                            class="form-control"
                            placeholder="Nom Région"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div>
                      <a
                        type="submit"
                        class="btn btn-success waves-effect ml-2"
                        data-dismiss="modal"
                        href="#"
                        (click)="updateRegion()"
                      >
                        Modifier
                      </a>
                      <a
                        class="btn btn-danger waves-effect"
                        data-dismiss="modal"
                        href="#"
                        style="margin-left: 10px !important"
                      >
                        Annuler
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" href="#">Fermer</a>
      </div>
    </div>
  </div>
</div>
