/* Ajoutez ceci à votre fichier CSS ou SCSS */
.card-container {
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-icon {
    font-size: 2rem;
    color: #5cb85c; /* Couleur de l'icône */
  }
  

  .myImg{
    width: 250px;
    height: 430px;
  }

  .icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    margin-left: 10px;
  }
  
  .icon-button:hover {
    color: #007bff; /* Couleur au survol */
  }
  
  .fa-icon {
    font-size: 1.5em; /* Ajustez la taille de l'icône si nécessaire */
  }
  
  .card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  