<div class="left-sidebar-pro">
  <nav id="sidebar" class="">
    <div class="sidebar-header">
      <a href="index.html">
        <img
          class="main-logo"
          src="assets/images/TT2.png"
          width="100px"
          height="80px"
          style="margin-top: 15px"
          alt=""
        />
      </a>
      <strong>
        <a href="index.html">
          <img src="img/logo/logosn.png" alt="" />
        </a>
      </strong>
    </div>
    <div
      class="left-custom-menu-adp-wrap comment-scrollbar"
      style="margin-top: 25px"
    >
      <nav class="sidebar-nav left-sidebar-menu-pro">
        <ul class="metismenu" id="menu1">
          <li class="nav-item">
            <a routerLink="/financier/docfinsite">
              <img class="nav-icon" src="assets/icons/docfin.png" alt="" />
              <span class="mini-click-non">Doc Financière Site</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/financier/tbsite">
              <img class="nav-icon" src="assets/icons/site.png" alt="" />
              <span class="mini-click-non">TB Site</span>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/financier/tbCel">
              <img class="nav-icon" src="assets/icons/cellule.png" alt="" />
              <span class="mini-click-non">TB Cellule</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</div>
<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="all-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href="index.html"
            ><img class="main-logo" src="assets/images/logo.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- menu navbar -->
  <app-navbar-admin></app-navbar-admin>
  <router-outlet></router-outlet>
</div>
