<div class="left-sidebar-pro">
  <!-- <nav id="sidebar" class="">
    <div class="sidebar-header">
      <a href="index.html"
        ><img
          class="main-logo"
          src="assets/images/TT2.png"
          width="100px"
          height="80px"
          style="margin-top: 15px"
          alt=""
      /></a>
      <strong
        ><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a
      ></strong>
    </div>
    <div
      class="left-custom-menu-adp-wrap comment-scrollbar"
      style="margin-top: 25px"
    >
      <nav class="sidebar-nav left-sidebar-menu-pro">
        <ul class="metismenu" id="menu1">
          <li>
            <a aria-expanded="false">
              <img src="assets/icons/bi.png" alt="" />
              <span class="mini-click-non">Tableaux De Bord BI</span>
            </a>
            <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
              <li>
                <a routerLink="/admin/tbsite">
                  <span class="mini-sub-pro">Sites</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/tbCel">
                  <span class="mini-sub-pro">Cellules</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item" [class.open]="activeDropdown === 'sites'">
            <a (click)="toggleDropdown($event, 'sites')">
              <img
                [class.show]="activeDropdown === 'sites'"
                src="assets/icons/site.png"
                alt=""
              />
              <span class="mini-click-non">Sites</span>
            </a>
            <ul class="submenu-angle app-mini-nb-dp">
              <li>
                <a routerLink="/admin/list/sites">
                  <span class="educate-icon educate-interface icon-wrap"></span>
                  <span class="">Gérer Sites</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/docsite">Doc Sites</a>
              </li>
              <li>
                <a routerLink="/admin/docfinsite">Doc Financières</a>
              </li>
              <li>
                <a routerLink="/admin/tbsite">Rapport</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" [class.open]="activeDropdown === 'cellules'">
            <a (click)="toggleDropdown($event, 'cellules')">
              <img
                [class.show]="activeDropdown === 'cellules'"
                style="width: 50px; height: 50px"
                src="assets/icons/cellule.png"
                alt=""
              />
              <span class="mini-click-non">Cellules</span>
            </a>
            <ul class="submenu-angle app-mini-nb-dp">
              <li>
                <a routerLink="/admin/cellule2G">Cellule 2G</a>
              </li>
              <li>
                <a routerLink="/admin/cellule3G">Cellule 3G</a>
              </li>
              <li>
                <a routerLink="/admin/cellule4G">Cellule 4G</a>
              </li>
              <li>
                <a routerLink="/admin/tbCel">Rapport</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              routerLink="/admin/list/users"
              id="usersDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                style="width: 50px; height: 50px"
                src="assets/icons/user.png"
                alt=""
              />
              <span class="mini-click-non">Gérer Utilisateurs</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/list/delegations" aria-expanded="false">
              <img
                style="width: 50px; height: 50px"
                src="assets/icons/region.png"
                alt=""
              />
              <span class="mini-click-non">Gérer Délégations</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/list/regions" aria-expanded="false">
              <img
                src="assets/images/toto.png"
                alt=""
                style="width: 32px; height: 40px"
              />
              <span class="mini-click-non">Gérer Régions</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/list/fournisseurs" aria-expanded="false">
              <img src="assets/icons/supplier.png" alt="" />
              <span class="mini-click-non">Gérer Fournisseurs</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/list/fournisseurs" aria-expanded="false">
              <img src="assets/icons/ai.png" alt="" />
              <span class="mini-click-non">Intelligence Artifiielle</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </nav> -->

  <nav id="sidebar" class="">
    <div class="sidebar-header">
      <a href="index.html">
        <img
          class="main-logo"
          src="assets/images/TT2.png"
          width="100px"
          height="80px"
          style="margin-top: 15px"
          alt=""
        />
      </a>
      <strong>
        <a href="index.html">
          <img src="img/logo/logosn.png" alt="" />
        </a>
      </strong>
    </div>
    <div
      class="left-custom-menu-adp-wrap comment-scrollbar"
      style="margin-top: 25px"
    >
      <nav class="sidebar-nav left-sidebar-menu-pro">
        <ul class="metismenu" id="menu1">
          <li>
            <!-- <a aria-expanded="false">
              <img class="nav-icon" src="assets/icons/bi.png" alt="" />
              <span class="mini-click-non">Tableaux De Bord BI</span>
            </a> -->
            <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
              <li>
                <a routerLink="/admin/tbsite">
                  <span class="mini-sub-pro">Sites</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/tbCel">
                  <span class="mini-sub-pro">Cellules</span>
                </a>
              </li>
            </ul>
          </li>





          <li class="nav-item" [class.open]="activeDropdown === 'bi'">
            <a (click)="toggleDropdown($event, 'bi')">
              <img class="nav-icon" [class.show]="activeDropdown === 'bi'" src="assets/icons/bi.png" alt="" />
              <span class="mini-click-non">Tableaux De Bord BI</span>
            </a>
            <!-- Dropdown menu -->
            <ul class="submenu-angle app-mini-nb-dp" *ngIf="activeDropdown === 'bi'">
              <li>
                <a routerLink="/admin/rep1">
                  <span class="mini-sub-pro">Sites GSM</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/rep2">
                  <span class="mini-sub-pro">Cellules 2G</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/rep3">
                  <span class="mini-sub-pro">Cellules 3G</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/rep4">
                  <span class="mini-sub-pro">Cellules 4G</span>
                </a>
              </li>
            </ul>
          </li>
          


















          <li class="nav-item" [class.open]="activeDropdown === 'sites'">
            <a (click)="toggleDropdown($event, 'sites')">
              <img
                class="nav-icon"
                [class.show]="activeDropdown === 'sites'"
                src="assets/icons/site.png"
                alt=""
              />
              <span class="mini-click-non">Sites</span>
            </a>
            <ul class="submenu-angle app-mini-nb-dp">
              <li>
                <a routerLink="/admin/list/sites">
                  <span class="educate-icon educate-interface icon-wrap"></span>
                  <span class="">Gérer Sites</span>
                </a>
              </li>
              <li>
                <a routerLink="/admin/docsite">Doc Sites</a>
              </li>
              <li>
                <a routerLink="/admin/docfinsite">Doc Financières</a>
              </li>
              <li>
                <a routerLink="/admin/tbsite">Rapport</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" [class.open]="activeDropdown === 'cellules'">
            <a (click)="toggleDropdown($event, 'cellules')">
              <img
                class="nav-icon"
                [class.show]="activeDropdown === 'cellules'"
                src="assets/icons/cellule.png"
                alt=""
              />
              <span class="mini-click-non">Cellules</span>
            </a>
            <ul class="submenu-angle app-mini-nb-dp">
              <li>
                <a routerLink="/admin/cellule2G">Cellule 2G</a>
              </li>
              <li>
                <a routerLink="/admin/cellule3G">Cellule 3G</a>
              </li>
              <li>
                <a routerLink="/admin/cellule4G">Cellule 4G</a>
              </li>
              <li>
                <a routerLink="/admin/tbCel">Rapport</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              routerLink="/admin/list/users"
              id="usersDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img class="nav-icon" src="assets/icons/user.png" alt="" />
              <span class="mini-click-non">Gérer Utilisateurs</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/list/delegations" aria-expanded="false">
              <img class="nav-icon" src="assets/icons/region.png" alt="" />
              <span class="mini-click-non">Gérer Délégations</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/list/regions" aria-expanded="false">
              <img class="nav-icon" src="assets/images/toto.png" alt="" />
              <span class="mini-click-non">Gérer Régions</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/list/secteurs" aria-expanded="false">
              <img class="nav-icon" src="assets/images/toto1.png" alt="" />
              <span class="mini-click-non">Gérer Secteurs</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/list/fournisseurs" aria-expanded="false">
              <img class="nav-icon" src="assets/icons/supplier.png" alt="" />
              <span class="mini-click-non">Gérer Fournisseurs</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/pred" aria-expanded="false">
              <img class="nav-icon" src="assets/icons/ai.png" alt="" />
              <span class="mini-click-non">Taux de couverture</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</div>
<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="all-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href="index.html"
            ><img class="main-logo" src="assets/images/logo.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- menu navbar -->
  <app-navbar-admin></app-navbar-admin>
  <router-outlet></router-outlet>
</div>
